.cover__link {
  width: 100vw;
  max-width: 1184px;
  min-height: 62.5vw;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cover__link::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: .3;
  background: #2a2c2f;
}

.cover__link:hover::before {
  opacity: .8;
}

@media screen and (min-width: 1280px) {
  .cover__link {
    min-height: 740px;
  }
}