.header__logo {
  background-image: url(../../../images/header-logo.svg);
  background-size: cover;
  width: 142px;
  height: 42px;
  margin-right: calc(84px + 100vw - 320px);
  outline: 1px solid red;
}

@media screen and (min-width: 768px) {
  .header__logo {
    height: 52px;
    width: 176px;
    margin-right: calc(467px + 100vw - 768px);
  }
}

@media screen and (min-width: 1024px) {
  .header__logo {
    margin-right: calc(675px + 100vw - 1024px);
  }
}

@media screen and (min-width: 1280px) {
  .header__logo {
    margin-right: calc(931px + 100vw - 1280px);
  }
}